In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

In [2]:
data=pd.read_csv('C:\\Users\\gtani\\OneDrive\\Desktop\\Boston_House\\notebooks\\data\\boston.csv')

In [3]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [19]:
X=data.drop('MEDV',axis=1)

In [20]:
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88

In [21]:
y=data['MEDV']

In [22]:
# Create Column Transformer with 3 types of transformers
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, cat_features),
         ("StandardScaler", numeric_transformer, num_features),        
    ]
)

In [23]:
X=preprocessor.fit_transform(X)

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((404, 13), (102, 13))

In [25]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [27]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(), 
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}
model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 4.6520
- Mean Absolute Error: 3.3148
- R2 Score: 0.7509
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 4.9286
- Mean Absolute Error: 3.1891
- R2 Score: 0.6688
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 5.2819
- Mean Absolute Error: 3.6755
- R2 Score: 0.6789
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.2490
- Mean Absolute Error: 3.4648
- R2 Score: 0.6243
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 4.6522
- Mean Absolute Error: 3.3087
- R2 Score: 0.7509
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 4.9310
- Mean Absolute Error: 3.1859
- R2 Score: 0.6684
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 3.6151
- Mean Absolute Error: 2.3499
- R2 Score: 0.8496
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 4.5450
- Mean Absolute Error: 2.6063
- R2 Score: 0.7183
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 4.9901
- Mean Absolute Error: 3.0157
- R2 Score: 0.6604
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 1.4084
- Mean Absolute Error: 0.8870
- R2 Score: 0.9772
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 2.9852
- Mean Absolute Error: 2.1085
- R2 Score: 0.8785
===================================


XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 0.0162
- Mean Absolute Error: 0.0112
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 2.6285
- Mean Absolute Error: 1.8909
- R2 Score: 0.9058
===================================


CatBoosting Regressor
Model performance for Training set
- Root Mean Squared Error: 0.5200
- Mean Absolute Error: 0.4064
- R2 Score: 0.9969
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 2.9224
- Mean Absolute Error: 1.8474
- R2 Score: 0.8835
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 2.9225
- Mean Absolute Error: 2.4084
- R2 Score: 0.9017
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 3.7904
- Mean Absolute Error: 2.5563
- R2 Score: 0.8041
===================================

In [28]:
pd.DataFrame(list(zip(model_list, r2_list)), columns=['Model Name', 'R2_Score']).sort_values(by=["R2_Score"],ascending=False)

                Model Name  R2_Score
6             XGBRegressor  0.905784
7    CatBoosting Regressor  0.883538
5  Random Forest Regressor  0.878483
8       AdaBoost Regressor  0.804089
3    K-Neighbors Regressor  0.718311
0        Linear Regression  0.668759
2                    Ridge  0.668440
4            Decision Tree  0.660443
1                    Lasso  0.624288